@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    background-color: rgb(245, 245, 245);
  }

  .font-josefin {
    font-family: "Josefin Sans", sans-serif;
  }
}
